body {
  height: 100%;
  width: 100%;
  margin:0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-collapse {
  z-index: 1000;
}

#navbar-logo {
  height: 5vh;
  animation: spin 5s 1;
}

#navbar-logo:hover {
  animation: spin 5s infinite;
}

@keyframes spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

#map {
  height: 100vh;
  background: #003652;
  margin-top:6vh;
  z-index: 1;
}

.leaflet-marker-icon {
  filter: invert(64%) sepia(30%) saturate(1225%) hue-rotate(61deg) brightness(150%) contrast(84%) drop-shadow(0px 1px 0 #556b2F) drop-shadow(0px -1px 0 #556b2F);
}

.input-group {
  width: 40%;
}

.leaflet-popup img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* .leaflet-popup-content-wrapper{
  background-color: rgb(41, 187, 41);

} */

.leaflet-popup-content {
  margin: 0;
  overflow: hidden;
}

.leaflet-popup-content-wrapper {
  overflow: hidden;
  padding: 0;
}

.address-div {
  margin: 1%;
}

input[type="search"] {
  width: 100%;
}

#search-bar {
  width: 45vmin;
}

@media only screen and (max-width: 768px) {
  #search-bar {
    width: auto;
  }
  #night-theme{
    border-right:0px solid;
    border-left:0px solid;
  }
}

#search-location {
  padding: 10px;
  margin-top: 10px;
}

#logo-text {
  font-family: 'Pacifico';
  font-size: x-large;
  font-style: bold;
}

#night-theme{
  border-right:1px solid;
  border-left:1px solid;
}