html, body {
  height: 100%;
  width: 100%;
}

#navbar {
    max-height:5%;
}

#navbar-logo{
    height:40px;
}

#map {
    height: 90vh;
}

.leaflet-marker-icon {
    filter: invert(64%) sepia(30%) saturate(1225%) hue-rotate(61deg) brightness(150%) contrast(84%) drop-shadow(0px 1px 0 #556b2F) drop-shadow(0px -1px 0 #556b2F);
    /* -webkit-filter: invert(64%) sepia(30%) saturate(1225%) hue-rotate(61deg) brightness(150%) contrast(84%) drop-shadow(2px 1px 0 white) drop-shadow(-2px -1px 0 white); */
}

.input-group{
  width:40%;
}